ul {position:fixed;
    list-style-type: none;
    margin-left:-9px;
	margin-top:-30px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
	width:99.6%;
	opacity:0.5;
	padding-left:32%;
}

li {
    float: left;
}

.navbarList{
	margin-left:20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	font-family:Microsoft YaHei;
	font-size:16px;
	text-decoration:none;
	}

a:hover {
    background-color: #111;
	height:100%;
	transform:scale(1.05);
}
#mainfood{
	position:absolute;
	left:-7px;
	top:-7px;
}
#company{position:relative;
	top:160px;
	text-align:center;
	font-size:48px;
	font-family: "Everleth", "apercumono", Helvetica, Roboto, Arial, sans-serif;
	letter-spacing:1px;
	color:white;
	opacity:0.8;
}
#foods{position:relative;
	top:140px;
	text-align:center;
	font-size:90px;
	font-family: "Everleth", "apercumono", Helvetica, Roboto, Arial, sans-serif;
	letter-spacing:2px;
	color:white;
	opacity:0.8;
	font-weight:bold;
}
#secondsection{position:relative;
		top:700px;
		text-align:center;
		font-size:30px;
		color:black;
		font-family: "Everleth", "apercumono", Helvetica, Roboto, Arial, sans-serif;
}
#description-welcome{
		font-size:22px;}
		
#bakery{
		position:absolute;
		left:0;
		top:1400px;
	}
#kitchen{
	
	position:absolute;
	left:680px;
	top:1400px;
}
#bakery-text-big{
		position:absolute;
	
}	
	
